body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image2.jpg');
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #ecf0f1;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    font-family: fantasy;
    color: goldenrod;
}

form {
    margin-bottom: 20px;
}

form label {
    margin-right: 10px;
}

.grid {
    display: grid;
    gap: 2px;
    background-color: darkblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid div {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    transition: background-color 0.3s;
}

button {
    background-color: hotpink;
    border:none;
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    
    font-weight: bold;

}

label {
    font-family: fantasy;
    color: indianred;
}

input {
    width: 100px;
}
