
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image2.jpg') ;
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #ecf0f1;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    font-family: fantasy;
    color: goldenrod;
}

.grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(15, 30px);
    gap: 2px;
    background-color: darkblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid div {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    transition: background-color 0.3s;
}
